@import "/src/styles/variables";

section.signUp {
    background-color: $white;
}

.signUp {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include font(32px, 700, 39px, rgba(0, 0, 0, 0.68));
        margin-bottom: 49px;
    }

    &__extension {
        @include font(16px, 600, 20px, rgba(0, 0, 0, 0.56));
        width: 100%;
        text-align: end;
    }
}



.form {
    display: flex;
	flex-direction: column;
	align-items: center;

    &__input {
		@include font(20px, 500, 24px, #667085);

        width: 406px;
        height: 60px;
		padding: 14px;

		background: $white;
        border: 1px solid #5C5454;
        border-radius: 5px;

        @media screen and (max-width: $break-s) {
            width: 306px;
            height: 50px;
            padding: 12px;
        }

        &:not(:last-child) {
			margin-bottom: 16px;
		}

        &:last-child {
            margin-bottom: 31px;
        }

		&:focus {
            outline: none !important;
            border: 1px solid $orange;
        }

        &::placeholder {
            @include font(20px, 500, 24px, #AEB4BA);
        }
	}

    &__button {
		@include font(20px, 700, 24px, $white);

        width: 100%;
        height: 60px;
		padding: 14px 37px 13px 37px;
        margin-bottom: 16px;
        
		background-color: $orange;
        border-radius: 5px;
		transition: 0.3s ease;

		&:hover {
			opacity: 0.8;
		}
	}
}