@import "/src/styles/variables";

.layout {
    display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: space-around;
    margin: 40px 0px 0px 0px;
}

.submenus {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	flex-wrap: wrap;
    margin: 0px 0px 20px 0px;

	padding: 21px 0px;
	
	@media screen and (max-width: $break-l) {
		display: none;
	}

	&__item {
		@include font(15px, 600, 16px, $black);
		display: flex;
		flex-direction: row;
		align-items: center;
        padding: 10px 20px 10px 20px;

        &:hover {
            background-color: #D9D9D980;
            transition: all 0.3s ease-in;
        }
	}
}