@import "/src/styles/variables";

.header {
    background-color: $cyan;
    padding: 31px 67px 30px 67px;

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.list {
    display: flex;
    align-items: center;
    list-style: none;

    &_desktop {
        @media screen and (max-width: $break-l) {
			display: none;
		}
    }

    &__item {
        @include font(12px, 600, 16px, $white);
        text-align: center;

        &:not(:last-child) {
            margin-right: 12px;
            border-right: 1px solid $white;
            padding-right: 13px;
        }
    }
}