@import "/src/styles/variables";

section.passOrder {
    background-color: $cyan;
    margin: 0px;
    padding: 50px 0px 50px 0px; 
}

.passOrder {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__title {
        @include font(32px, 700, 39px, $white);
        text-align: center;

        @media screen and (max-width: $break-l) {
            @include font(25px, 700, 25px, $white);
        }
    }

    &__cardList {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        width: 100%;

        &_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0px 50px 0px 50px;
            
            &_number {
                @include font(100px, 600, 121px, $orange);
                text-align: center;
                text-shadow: 0 0 5px $black;
                @media screen and (max-width: $break-l) {
                    @include font(70px, 700, 100px, $orange);
                }
            }
        
            &_description {
                @include font(25px, 600, 31px, $white);
                max-width: 400px;
                text-align: center;
                    @media screen and (max-width: $break-l) {
                    @include font(20px, 700, 25px, $white);
                }
            }
        }
    }
}