@import "/src/styles/variables";

section.experience {
    background-color: $white;
    margin: 0px;
    padding: 100px;
    height: 100%;
    // min-height: 79.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: solid 1px #00000033;
        margin: 2px 0px 2px 0px;
        padding: 15px 30px 15px 30px;
        background-color: $white;
        width: 500px;
        cursor: pointer;
        @include font(25px, 600, 31px, $black);


        &_text {
            @include font(25px, 600, 31px, $black);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        @include font(15px, 400, 18px, rgba(0, 0, 0, 0.56));
    }

    &__input {
		@include font(20px, 500, 24px, #667085);
		padding: 12px;
        
		background: $white;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        
		display: flex;
		align-items: flex-start;
    }
}

