@import "/src/styles/variables";

section.intro {
    background-color: $white;
    margin: 0px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    padding: 0px 0px 18px 0px;

    @media screen and (max-width: $break-l) {
        justify-content: center;
        flex-wrap: wrap;
    }

    img {
        @media screen and (max-width: $break-s) {
            width: 350px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__description {
        @include font(32px, 700, 39px, $black);
        max-width: 400px;
        text-align: center;

        margin-bottom: 84px;

        @media screen and (max-width: $break-l) {
            margin-bottom: 20px;
            @include font(25px, 700, 31px, $black);
        }
    }

    &__subdescription {
        @include font(32px, 700, 39px, rgba(0,0,0, 0.63));
        max-width: 400px;
        text-align: center;

        @media screen and (max-width: $break-l) {
            @include font(25px, 700, 31px, rgba(0,0,0, 0.63));
        }
    }

    &__partner {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        p {
            @include font(20px, 700, 24px, #387C22);
        }

        a img {
            width: 150px;
            height: 50px;
        }

        margin-bottom: 50px;

        @media screen and (max-width: $break-l) {
            margin-bottom: 0px;
        }
    }

    &__button {
        @include font(13px, 700, 16px, $white);
        background: #4575DC;
        border-radius: 20px;
        padding: 16px 40px;
    }
}