@import "/src/styles/variables";

section.about {
    background-color: $cyan;
    margin: 0px;
    padding: 70px 98px 105px 98px;

    @media screen and (max-width: $break-l) {
        // @include font(20px, 700, 31px, $white);
        padding: 70px 20px 105px 20px;
    }
}

.about {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            @include font(32px, 700, 39px, $orange);
            text-align: center;
            margin-bottom: 13px;

            @media screen and (max-width: $break-l) {
                @include font(25px, 700, 31px, $orange);
            }
        }

        &_subtitle {
            @include font(25px, 600, 30px, $white);
            text-align: center;

            @media screen and (max-width: $break-l) {
                @include font(20px, 700, 25px, $white);
            }
        }
    }

    &__more {
        @include font(30px, 700, 39px, $white);
        text-decoration: underline;
        background: none;
        margin: 30px 0px 30px 0px;

        @media screen and (max-width: $break-l) {
            @include font(25px, 700, 31px, $white);
        }
    }

    &__fund {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            @include font(32px, 700, 39px, $orange);
            text-align: center;
            margin-bottom: 13px;

            @media screen and (max-width: $break-l) {
                @include font(25px, 700, 31px, $orange);
            }
        }

        &_places {
            display: flex;
            flex-direction: column;
            list-style: none;


            &_place {
                @include font(32px, 700, 39px, $white);
                
                display: flex;
                flex-direction: row;
                text-align: center;

                &_item {
                    text-align: center;
                    &:not(:last-child) 
                    {
                        @media screen and (min-width: $break-s) {
                            margin-right: 30px;
                        }
                    }
                }

                @media screen and (max-width: $break-l) {
                    @include font(25px, 700, 31px, $white);
                }

                @media screen and (max-width: $break-s) {
                    @include font(25px, 700, 39px, $white);
                    flex-direction: column;
                }

                @media screen and (max-width: $break-xxs) {
                    @include font(20px, 700, 30px, $white);
                    flex-direction: column;
                }
            }
        }
    }
}