@import "/src/styles/variables";

section.scoring {
    background-color: $white;
    margin: 0px;
}

.scoring {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 0px 20px;

    &__title {
        @include font(25px, 700, 31px, $black);
        margin: 0px 0px 40px 0px;
        @media screen and (max-width: $break-l) {
            @include font(20px, 700, 25px, $black);
        }
    }
}

.rule {
    margin: 0px 0px 30px 0px;
    &__text {
        @include font(25px, 500, 31px, $black);
        @media screen and (max-width: $break-l) {
            @include font(20px, 500, 25px, $black);
        }
    }
}