@import "/src/styles/variables";

section#container {
    background-color: $white;
    margin: 0px;
}

.scoring {
    display: flex;
    flex-direction: column;
    padding: 60px 20px 0px 20px;

    &__title {
        @include font(25px, 700, 31px, $black);
        margin: 0px 0px 40px 0px;
    }
}

.rule {
    margin: 0px 0px 30px 0px;
    &__text {
        @include font(25px, 500, 31px, $black);
    }
}