@import "/src/styles/variables";

section.benefits {
    background-color: $white;
    margin: 0px;
    padding: 42px;
}

.benefits {
    &__title {
        @include font(32px, 700, 39px, $black);
        text-align: center;
        margin-bottom: 100px;

        @media screen and (max-width: $break-l) {
            @include font(25px, 700, 31px, $black);
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img {
                width: 100px;
                height: 100px;
                margin-bottom: 10px;
            }   

            p {
                max-width: 200px;
            }

            &__title {
                @include font(20px, 600, 24px, $black);
                text-align: center;
                margin-bottom: 10px;
            }

            &__content {
                @include font(20px, 600, 24px, rgba(0, 0, 0, 0.68));
                text-align: center;
            }

            @media screen and (max-width: $break-l) {
                &:not(:last-child) {
                   margin-bottom: 50px;
                }
            }
        }
    }
}