@import "/src/styles/variables";

.subanchors {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	flex-wrap: wrap;

	padding: 21px 0px;
	
	@media screen and (max-width: $break-l) {
		display: none;
	}

	&__item {
		@include font(13px, 600, 16px, $black);
		display: flex;
		flex-direction: row;
		align-items: center;
		
		&:not(:last-child) {
			margin-right: 13px;
		}
		
		a {
			margin-right: 13px;
			text-align: center;
		}
	}

	&__seperator {
		@include font(20px, 500, 20px, $black);
	}
}